<!DOCTYPE html>
<html lang="en">
<body>
    <h1>Enter DodgeBall Competition Data</h1>

    <form action="." method="POST">
      Enter Start Date: 
      <br>
      <input type="text" name="date" value="2015-10-1">
      <br>
      Enter Start Time: 
      <br>
      <input type="text" name="time" value="19:30">
      <br>
      Enter Duration of Event[hours]: 
      <br>
      <input type="text" name="duration">
      <br>
      Number of Weeks: 
      <br>
      <input type="text" name="weeks", value="1">
      <br>
      Enter Number of Rounds Per Wave: 
      <br>
      <input type="text" name="rounds">
      <br>
      Enter Team Names: 
      <br>
      <input type="text" name="teams">
      <br>
      Enter Location: 
      <br>
      <input type="text" name="location">
      <br>
      Enter Sub-Locations: 
      <br>
      <input type="text" name="sub_locations">
      <br>
      <input type="submit" name="my-form" value="Send">
    </form>
</body>
</html>
