<!DOCTYPE html>
<html lang="en">
<body>
    <h1>Enter Competition Date</h1>

    <form action="." method="POST">
      Enter Date: <br>
      <input type="text" name="date">
      <br>
      Enter Time: <br>
      <input type="text" name="time">
      <br>
      Enter Duration of Event: <br>
      <input type="text" name="duration">
      <br>
      Enter Number of Rounds: <br>
      <input type="text" name="rounds">
      <br>
      Enter Team Names: <br>
      <input type="text" name="teams">
      <br>
      Enter # of Byes: <br>
      <input type="text" name="byes">
      <br>
      <input type="submit" name="my-form" value="Send">
    </form>
</body>
</html>
